@mixin center ($type: "both") {
    display: flex;

    @if $type =="vertical" {
        justify-content: center;
    }

    @else if $type =="horizontal" {
        align-items: center;
    }

    @else if $type =="both" {
        justify-content: center;
        align-items: center;
    }

    @else if $type =="space_b" {
        justify-content: space-between;
        align-items: center;
    }

    @else if $type =="start-center" {
        justify-content: flex-start;
        align-items: center;
    }

    @else if $type =="wrap" {
        flex-wrap: wrap;
        justify-content: center;
    }
}